NodeRed/flows(1).json
[{"id":"e1d9fcc9.27b14","type":"tab","label":"Poolmaster Dashboard v5.0","disabled":false,"info":""},{"id":"6b505c1b.b78bdc","type":"function","z":"e1d9fcc9.27b14","name":"Split MEAS1 Message","func":"if(typeof msg.payload.Tmp !== 'undefined')\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n \n    msg0.payload = msg.payload.Tmp/100.0;//W temp\n    msg1.payload = msg.payload.pH/100.0;//pH\n    msg2.payload = msg.payload.PSI/100.0;//PSI\n    msg3.payload = msg.payload.Orp;//Orp\n    msg4.payload = msg.payload.FilUpT/60.0;//Filtration Uptime\n    msg5.payload = msg.payload.pHUpT/60.0;//pH Uptime\n    msg6.payload = msg.payload.ChlUpT/60.0;//Chl Uptime\n  \n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6]\n}\n\n","outputs":7,"noerr":0,"initialize":"","finalize":"","x":740,"y":1220,"wires":[["9768bfe3.d551c8"],["4f5b545a.9d0ea4"],[],["bc6684c8.e01bb"],["fc19869a.70c298"],["5f2ea14d.d72188"],["2e7351b9.c7b7b6"]]},{"id":"697ef8d2.917578","type":"function","z":"e1d9fcc9.27b14","name":"Split SetP1 Message","func":"if(typeof msg.payload.SPid !== 'undefined')\n\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n   \n    msg0.payload = msg.payload.Dsta//Filtration start hour, in the morning (hours)\n    msg1.payload = msg.payload.FDu //Computed filtration duration based on water temperature (hours)\n    msg2.payload = msg.payload.FStoM //Latest hour for the filtration to run. Whatever happens, filtration won't run later than this hour (hour)\n    msg3.payload = msg.payload.FSto //Computed filtration stop hour, equal to FSta + FDu (hour)\n    msg4.payload = msg.payload.SPid //Delay from FSta for the water regulation/PIDs to start (mins) \n    msg5.payload = msg.payload.pHUTL //Max allowed daily run time for the pH pump (/!\\ mins)\n    msg6.payload = msg.payload.ChlUTL //Max allowed daily run time for the Chl pump (/!\\ mins)\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6]\n\n}\n","outputs":7,"noerr":0,"x":740,"y":1440,"wires":[[],[],[],[],[],[],[]]},{"id":"c1b54254.cba3e","type":"delay","z":"e1d9fcc9.27b14","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":1380,"wires":[["6b505c1b.b78bdc","5f245264.6d1dcc","697ef8d2.917578","b1928785.050468","fcc25d30.140948","8eafde9c.41a2c","1bf852ad.cc003d"]]},{"id":"5f245264.6d1dcc","type":"function","z":"e1d9fcc9.27b14","name":"Split MEAS2 Message","func":"if(typeof msg.payload.IO !== 'undefined')\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n\n    msg0.payload = msg.payload.AcidF;//pH Tank Fill\n    msg1.payload = msg.payload.ChlF//Chl Tank Fill\n    msg2.payload = msg.payload.IO;//IO\n    msg3.payload = msg.payload.IO2;//IO2;\n    return [msg0,msg1,msg2,msg3]\n}\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":740,"y":1060,"wires":[[],[],[],[]]},{"id":"b1928785.050468","type":"function","z":"e1d9fcc9.27b14","name":"Split SetP2 Message","func":"if(typeof msg.payload.pHSP !== 'undefined')\n\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n    var msg6={};\n    var msg7={};\n   \n    msg0.payload = msg.payload.pHWS //pH PID window size (/!\\ mins)\n    msg1.payload = msg.payload.ChlWS //Orp PID window size (/!\\ mins)\n    msg2.payload = msg.payload.pHSP/100 //pH setpoint (/!\\ x100)\n    msg3.payload = msg.payload.OrpSP //Orp setpoint (/!\\ x100)\n    msg4.payload = msg.payload.WSP/100 //Water temperature setpoint (/!\\ x100)\n    msg5.payload = msg.payload.WLT/100 //Water temperature low threshold to activate anti-freeze mode (/!\\ x100)\n    msg6.payload = msg.payload.PSIHT/100 //Water pressure high threshold to trigger error (/!\\ x100)\n    msg7.payload = msg.payload.PSIMT/100 //Water pressure medium threshold (unused yet) (/!\\ x100)\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5,msg6,msg7]\n\n}\n","outputs":8,"noerr":0,"x":740,"y":1580,"wires":[[],[],[],[],[],[],[],[]]},{"id":"fcc25d30.140948","type":"function","z":"e1d9fcc9.27b14","name":"Split SetP3 Message","func":"if(typeof msg.payload.pHC0 !== 'undefined')\n\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n\n   \n    msg0.payload = msg.payload.pHC0 //pH sensor calibration coefficient C0\n    msg1.payload = msg.payload.pHC1 //pH sensor calibration coefficient C1\n    msg2.payload = msg.payload.OrpC0 //Orp sensor calibration coefficient C0\n    msg3.payload = msg.payload.OrpC1 //Orp sensor calibration coefficient C1\n    msg4.payload = msg.payload.PSIC0 //Pressure sensor calibration coefficient C0\n    msg5.payload = msg.payload.PSIC1 //Pressure sensor calibration coefficient C1\n\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5]\n\n}\n","outputs":6,"noerr":0,"x":740,"y":1720,"wires":[[],[],[],[],[],[]]},{"id":"8eafde9c.41a2c","type":"function","z":"e1d9fcc9.27b14","name":"Split SetP4 Message","func":"if(typeof msg.payload.pHKp !== 'undefined')\n\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n    var msg4={};\n    var msg5={};\n\n   \n    msg0.payload = msg.payload.pHKp //pH PID coeffcicient Kp\n    msg1.payload = msg.payload.pHKi //pH PID coeffcicient Ki\n    msg2.payload = msg.payload.pHKd //pH PID coeffcicient Kd\n    msg3.payload = msg.payload.OrpKp //Orp PID coeffcicient Kp\n    msg4.payload = msg.payload.OrpKi //Orp PID coeffcicient Ki\n    msg5.payload = msg.payload.OrpKd //Orp PID coeffcicient Kd\n\n\n    \n    return [msg0,msg1,msg2,msg3,msg4,msg5]\n\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":740,"y":1840,"wires":[[],[],[],[],[],[]]},{"id":"1bf852ad.cc003d","type":"function","z":"e1d9fcc9.27b14","name":"Split SetP5 Message","func":"if(typeof msg.payload.pHFR !== 'undefined')\n{\n    var msg0={};\n    var msg1={};\n    var msg2={};\n    var msg3={};\n\n    msg0.payload = msg.payload.pHTV //Acid tank nominal volume (Liters)\n    msg1.payload = msg.payload.ChlTV //Chl tank nominal volume (Liters)\n    msg2.payload = msg.payload.pHFR //Acid pump flow rate (L/hour)\n    msg3.payload = msg.payload.pHFR //Acid pump flow rate (L/hour)\n    return [msg0,msg1,msg2,msg3]\n}\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":740,"y":1940,"wires":[[],[],[],[]]},{"id":"b86dc732.3a193","type":"mqtt in","z":"e1d9fcc9.27b14","name":"All JSON from Poolmaster","topic":"Home/Pool/#","qos":"1","datatype":"json","broker":"30654e7b.139f62","x":180,"y":1380,"wires":[["c1b54254.cba3e"]]},{"id":"4f5b545a.9d0ea4","type":"blynk-ws-out-write","z":"e1d9fcc9.27b14","name":"ph","pin":"1","pinmode":0,"client":"8859b5d2.2930d","x":1050,"y":1240,"wires":[]},{"id":"9768bfe3.d551c8","type":"blynk-ws-out-write","z":"e1d9fcc9.27b14","name":"temp","pin":"0","pinmode":0,"client":"8859b5d2.2930d","x":1050,"y":1160,"wires":[]},{"id":"bc6684c8.e01bb","type":"blynk-ws-out-write","z":"e1d9fcc9.27b14","name":"ORP","pin":"2","pinmode":0,"client":"8859b5d2.2930d","x":1070,"y":1300,"wires":[]},{"id":"fc19869a.70c298","type":"blynk-ws-out-write","z":"e1d9fcc9.27b14","name":"Temps de Filtration","pin":"3","pinmode":0,"client":"8859b5d2.2930d","x":1120,"y":1380,"wires":[]},{"id":"5f2ea14d.d72188","type":"blynk-ws-out-write","z":"e1d9fcc9.27b14","name":"Temps PH","pin":"4","pinmode":0,"client":"8859b5d2.2930d","x":1100,"y":1420,"wires":[]},{"id":"2e7351b9.c7b7b6","type":"blynk-ws-out-write","z":"e1d9fcc9.27b14","name":"Temps Orp","pin":"5","pinmode":0,"client":"8859b5d2.2930d","x":1110,"y":1460,"wires":[]},{"id":"30654e7b.139f62","type":"mqtt-broker","name":"Local Broker","broker":"192.168.1.91","port":"1883","clientid":"CharNodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Home/NodeRed","birthQos":"1","birthRetain":"true","birthPayload":"online","closeTopic":"","closePayload":"","willTopic":"Home/NodeRed","willQos":"0","willRetain":"true","willPayload":"offline"},{"id":"8859b5d2.2930d","type":"blynk-ws-client","name":"Blynk2","path":"ws://blynk-cloud.com/websockets","key":"p3H05Rne3RYDw0yPat3u0xJdwTLmN4qw","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true}]